tornado
pycrypto
google-api-python-client
git+https://github.com/dianakhuang/pytumblr.git@diana/python-3-support
tweepy
pillow
dlib
praw
git+https://github.com/pythonforfacebook/facebook-sdk.git
git+https://github.com/pixelogik/NearPy.git
git+https://github.com/mynameisfiber/cryptohelper.git
ujson
spotipy
rethinkdb
gender-guesser
